

/* iMPORT FILES------------------------------------------- */
@import './main.css';
@import './Person-comment.css';
@import './Portfolio.css';
@import './Footer.css';
@import './Utilitis.css';
@import './Header-top.css';
@import './Header-center.css';
@import './Media-Query.css';
@import './fonts.css';

/* genera styles------------------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "byekan";
    font-weight: 600;
}
a{
    text-decoration: none;
}



