.bg-blue{
    background-color: rgb(24, 83, 243);
}
.img-fluid{
    width: 100%;
    height: auto;
    display: block;
}
.w-50{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.p-20{
    padding: 20px;
}